body {
    background-color: #fafafa;
    background-image: url("../img/doggo_walks.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 35%;
    min-height: 100vh;
}

.container > .title {
    margin-top: 150px;
    width: 35%;
}

.container > .title > .subtitle {
    margin-top: 50px;
    font-size: 20px;
}

.navbar {
    background-color: #fafafa;
    margin: 0 30px 25px 30px;
}

.navbar .navbar-brand {
    color: black !important;
    font-size: 35px;

}

.navbar .nav-link {
    color: black !important;
}

.form-group input:first-child {
    margin-top: 25px;
}

.form-group input {
    width: 350px;
    margin-bottom: 25px;
}

#change_data_account input, #change_data_account .form-control, #change_data_account .custom-select {
    width: 500px;
    margin-bottom: 25px;
}

#change_password input, #change_password .form-control, #change_password .custom-select {
    width: 500px;
    margin-bottom: 25px;
}

#change_data_account {
    width: unset;
}

.navbar-nav {
    flex-direction: column;
}

.navbar .account, .navbar .dogs, .navbar .system {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }
    
    .navbar .account, .navbar .dogs, .navbar .system {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin: 0 15px;
    }
    
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

table {
    table-layout: fixed;
}

thead {
    color: white;
}

textarea.form-control {
    width: 50vw;
    margin-bottom: 15px;
}

#delete_account {
    width: 500px;
    margin: 0 auto;
}

#add-edit-dog select {
    margin-bottom: 15px;
}

#manage-walks {
    width: 50vw;
}

div.tab-content {
    margin-top: 25px;
}

.custom-file-label::after {
    content: "Wybierz";
}

div.admin-menu {
    display: flex;
    justify-content: center;
    align-content: center;
}

div.admin-menu > ul {
}

div.admin-menu > ul > li {
    height: 250px;
    width: 250px;
    font-size: 20px;
    float: left;
    list-style: none;
    text-align: center;
    background-color: #e9c6b0;
    margin-right: 30px;
    line-height: 60px;
    transition: 0.3s ease-in-out;
}

div.admin-menu > ul > li:hover {
    transition: 0.3s ease-in-out;
    background-color: #f58646;
}

div.admin-menu > ul > li > a {
    transition: 0.3s ease-in-out;

    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    color: #3d3b3b;
}

div.admin-menu > ul > li > a:hover {
    transition: 0.3s ease-in-out;

    color: #ffffff;
}